/*To-do: organize into smaller files (structure)*/
@import "./variables.scss";

.navbar {
  background: linear-gradient(
    45deg,
    rgb(219, 114, 94) 0%,
    rgb(50, 169, 224) 100%
  );
  box-shadow: 0 2px 10px rgb(50 56 77 / 35%);
  color: #ffffff;
  font-weight: 500;
  font-size: large;
}

.nav-item {
  font-weight: 400;
}

.nav-link {
  color: #ffffff;
}

.container-title {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.container-subtitle {
  font-weight: 400;
  font-size: 1.3rem;
}

.container-404 {
  padding-top: 18rem;
  padding-bottom: 18rem;
}

.container-redirect {
  padding-top: 4rem;
}

.product-title {
  font-size: 1.1rem;
  font-weight: 600;
}

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  color: $base-font-color;
}

.table {
  color: $base-font-color;
}

.account-form-container {
  justify-self: center;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  padding: 5% 10% 10% 10%;
  background-color: $light;
  min-width: 330px;
  max-width: 40rem;
  border-radius: 2rem;
  box-shadow: 0 2px 16px 0 rgb(0 0 0 / 20%);
}

.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div {
    & > input {
      width: 25em;
    }
  }
}

.item-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > div {
    & > input {
      width: 25em;
    }
  }
}

.btn-primary {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  border-radius: 1.3rem;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
}

.btn-login {
  font-size: 1.1rem;
  font-weight: 600;
}

.payment-container {
  margin-top: 4rem;
}
