@import "../../node_modules/bootstrap/scss/bootstrap";

.product-card {
  box-shadow: $box-shadow-sm;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  background-color: $light;
  height: 8rem;
}

.product-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.product-price {
  font-size: 1.1rem;
  text-align: start;
}

.product-view-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-transform: uppercase;
}

.nav-item-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-item {
  font-weight: 400;
}

.nav-link {
  color: #ffffff;
}

.navbar {
  background: linear-gradient(
    45deg,
    rgb(219, 114, 94) 0%,
    rgb(50, 169, 224) 100%
  );
  box-shadow: 0 2px 10px rgb(50 56 77 / 35%);
  color: #ffffff;
  font-weight: 500;
  font-size: large;
}

.table {
  color: $base-font-color;
}

.alert-danger {
  background: none;
  border: none;
}

.btn {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  border-radius: 1.3rem;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
}

.btn-login {
  font-size: 1.1rem;
  font-weight: 600;
}
